ul {
    list-style: none;
    padding: 0;
}

ul .inner {
    overflow: hidden;
    display: none;
}

ul li {
    margin: 0;
}

ul li a {
  text-decoration:none;
    height: 58px;
    font-size: 22px;
    font-family: Arial, metapronorm;
    width: 100%;
    display: block;
    background: white;
    color: #1E62C3;
    padding: .75em;
    transition: background .3s ease;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid gray;
    border-radius: 0.15em;
    border-width: 0px 0px 1px 0px;
}

ul li a:hover{
  background-color:#f5f6fa;
}

ul li a.toggle {
    background-size: 40px 40px;
    background-image: url("../img/uparrow.png");
}

#top {
    border-top: 1px solid gray;
}


/*
ul li a.toggle:hover {
  background-color: #E9F9F9;
} */

ul.inner li>a {
    padding-left: 2em;
}

ul.inner .inner li>a {
    padding-left: 3em;
}

ul.inner .inner .inner li>a {
    padding-left: 4em;
}

ul li a.expanded {
    background-image: url("../img/downarrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
}
