/* ===================================== Import Variables ================================== */
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);
/* ===================================== Basic CSS ==================================== */
* {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  outline: none;
  color: #27805b; }

a:hover {
  color: #444; }

ul {
  margin-bottom: 0;
  padding-left: 0; }

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.cp {
  cursor: pointer; }

html, body {
  height: 100%; }

p {
  margin-bottom: 0px;
  width: 100%; }

.no-padding {
  padding: 0px; }

.no-margin {
  margin: 0px; }

.hid {
  display: none; }

.top-mar {
  margin-top: 15px; }

.h-100 {
  height: 100%; }

::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: .5 !important; }

.container-fluid {
  padding: 0px; }

h1, h2, h3, h4, h5, h6 {
  color: #545454; }

body {
  background-color: #f1f1f145 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #6A6A6A;
  overflow-x: hidden; }

.session-title {
  padding: 30px;
  margin: 0px;
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .session-title {
      padding: 5px; } }
  .session-title h2 {
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0px; }
  .session-title p {
    max-width: 850px;
    text-align: center;
    float: none;
    margin: auto;
    font-size: .9rem;
    margin-top: 6px; }
  .session-title span {
    float: right;
    font-style: italic; }

.inner-title {
  padding: 20px;
  padding-left: 0px;
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccccccc4;
  display: block;
  padding-right: 0px; }
  .inner-title h2 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #863dd9;
    padding-bottom: 10px;
    margin-bottom: 0px;
    width: 300px; }
  .inner-title p {
    width: 100%;
    text-align: center; }
  .inner-title .btn {
    float: right;
    margin-top: -38px;
    font-weight: 600;
    font-size: .8rem; }

.page-nav {
  background-size: 100%;
  padding: 68px;
  text-align: center;
  background-color: #eaeaea; }
  .page-nav ul {
    float: none;
    margin: auto; }
  @media screen and (max-width: 992px) {
    .page-nav {
      background-size: auto; } }
  @media screen and (max-width: 767px) {
    .page-nav {
      padding-top: 200px;
      padding-bottom: 40px; } }
  @media screen and (max-width: 356px) {
    .page-nav {
      padding-top: 200px;
      padding-bottom: 40px; } }
  .page-nav h2 {
    font-size: 28px;
    width: 100%;
    font-weight: 700;
    color: #444; }
    @media screen and (max-width: 600px) {
      .page-nav h2 {
        font-size: 26px; } }
  .page-nav ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-size: .93rem;
    font-weight: 600;
    color: #444; }
    .page-nav ul li i {
      width: 30px;
      text-align: center;
      color: #444; }
    .page-nav ul li a {
      color: #444;
      font-size: .93rem;
      font-weight: 600; }

.btn-success {
  background-color: #51be78;
  border-color: #51be78; }
  .btn-success:hover {
    background-color: #51be78 !important;
    border-color: #51be78 !important; }
  .btn-success:active {
    background-color: #51be78 !important;
    border-color: #51be78 !important; }
  .btn-success:focus {
    background-color: #51be78 !important;
    border-color: #51be78 !important;
    box-shadow: none !important; }

.btn-primary {
  background-color: #3cc88f;
  border-color: #3cc88f; }
  .btn-primary:hover {
    background-color: #3cc88f !important;
    border-color: #3cc88f !important; }
  .btn-primary:active {
    background-color: #3cc88f !important;
    border-color: #3cc88f !important; }
  .btn-primary:focus {
    background-color: #3cc88f !important;
    border-color: #3cc88f !important;
    box-shadow: none !important; }

.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px; }

.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #CCC; }

.btn-light {
  background-color: #FFF;
  color: #3F3F3F; }

.collapse.show {
  display: block !important; }

.form-control:focus {
  box-shadow: none;
  border: 1px solid #CCC; }

.form-control {
  background-color: #F8F8F8;
  margin-bottom: 20px; }
  .form-control:focus {
    background-color: #FFF;
    border-color: #CCC; }

.container {
  max-width: 1170px; }
  @media screen and (max-width: 575px) {
    .container {
      padding: 10px 15px; } }

.asterisk_input::after {
    content:" *";
    color: #e32; }

/* =================== Header Style Starts Here =================== */
header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #FFF;
  width: 100%;
  z-index: 99; }
  header .logo {
    padding-top: 6px; }
  header .header-top {
    background-color: #fff;
    border-bottom: 1px solid #d3d7cea6;
    padding: 7px; }
    header .header-top .col-det .ulleft li {
      float: left;
      padding: 12px;
      color: #686968;
      font-size: .9rem; }
      header .header-top .col-det .ulleft li i {
        margin-right: 5px;
        color: #bfbfbf; }
      header .header-top .col-det .ulleft li span {
        margin-left: 15px; }
    header .header-top .col-det .ulright {
      float: right; }
      header .header-top .col-det .ulright li {
        float: left;
        padding: 10px;
        color: #d3d7ce;
        font-size: 1rem;
        font-weight: 600; }
        header .header-top .col-det .ulright li i {
          margin-right: 5px;
          color: #8c8a8a; }
        header .header-top .col-det .ulright li small {
          color: #8c8a8a;
          font-weight: 600; }
        header .header-top .col-det .ulright li span {
          margin-left: 15px; }
    header .header-top .btn-bhed {
      padding-top: 7px;
      text-align: right; }
      header .header-top .btn-bhed .btn {
        padding: 5px 23px;
        border-radius: 50px;
        margin-left: 5px; }
  header .header-bottom {
    padding: 6px;
    background-color: #fff; }
    @media screen and (max-width: 991px) {
      header .header-bottom {
        padding: 0px; } }
    @media screen and (max-width: 991px) {
      header .header-bottom img {
        padding: 5px;
        margin-top: 0px;
        max-width: 230px; } }
  header .nav-col .navbad {
    display: block;
    float: right; }
    @media screen and (max-width: 991px) {
      header .nav-col .navbad {
        width: 100%; } }
    header .nav-col .navbad li {
      padding: 15px 15px;
      font-weight: 700;
      font-size: .9rem;
      float: left; }
      @media screen and (max-width: 1005px) {
        header .nav-col .navbad li {
          padding: 15px 12px; } }
      @media screen and (max-width: 991px) {
        header .nav-col .navbad li {
          float: none;
          width: 100%;
          padding: 10px; } }
      header .nav-col .navbad li a {
        color: #686968 !important;
        border: 1px solid #CCC;
        border-radius: 50px; }
        header .nav-col .navbad li a:hover {
          background-color: #3cc88f;
          color: #fff !important; }
    header .nav-col .navbad .nav-btn {
      float: right; }
  header .small-menu {
    float: right;
    color: #686968;
    font-size: 1.8rem;
    position: absolute;
    right: 13px;
    top: 19px; }

@media screen and (max-width: 767px) {
  .navbar {
    padding: 0px; } }

.navbar-toggler {
  position: absolute;
  right: 0px;
  top: -40px; }
  @media screen and (max-width: 767px) {
    .navbar-toggler {
      top: -50px; } }

.scroll-to-fixed-fixed {
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.scroll-to-fixed-fixed {
  padding: 5px !important; }

/* =================== Slider Style Starts Here =================== */
.slider {
    position: relative;
    width: 90%;
    text-align: center;
    float: none;
    margin: auto;
}

.slider-captions {
    position: absolute;
    bottom: 132px;
    text-align: center;
}

@media screen and (max-width: 1050px) {
    .slider-captions {
        bottom: 100px !important;
    }

    .slider-captions .slider-title {
        font-size: 42px;
    }
}

@media screen and (max-width: 810px) {
    .slider-captions {
        bottom: 50px !important;
    }

    .slider-captions .slider-title {
        font-size: 32px;
    }
}

@media screen and (max-width: 572px) {
    .slider-captions {
        display: none;
    }
}

.slider-title {
    font-size: 66px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -3px;
}

.slider-text {
    margin-bottom: 20px;
    color: #fff;
}

.slider-img {
    background: -moz-linear-gradient(top, rgba(45, 32, 44, 0.3) 0%, rgba(45, 32, 44, 0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(45, 32, 44, 0.3) 0%, rgba(45, 32, 44, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(45, 32, 44, 0.3) 0%, rgba(45, 32, 44, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc1b2429', endColorstr='#cc1b2429', GradientType=0);
    position: relative;
}

.slider-img img {
    position: relative;
    z-index: -1;
}

.slider .owl-nav .owl-prev,
.slider .owl-nav .owl-next {
    color: #fff;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 6px 12px;
    font-size: 22px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    background: transparent;
    filter: Alpha(Opacity=50);
    line-height: 1;
    border: 2px solid #fff;
}

.owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    text-decoration: none;
    background-color: #fff;
}

.slider .owl-nav .owl-prev {
    position: absolute;
    top: 40%;
    left: 25px;
}

.slider .owl-nav .owl-next {
    position: absolute;
    top: 40%;
    right: 25px;
}

.slider .owl-dots .owl-dot {
    position: relative;
    text-align: center;
    bottom: 40px;
    max-width: 1140px;
    margin: 0 auto;
}

.slider .owl-dots .owl-dot span {
    display: block;
    width: 14px;
    height: 14px;
    margin: 0px 0px 10px 10px;
    filter: Alpha(Opacity=50);
    /*IE7 fix*/
    opacity: 0.8;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    float: left;
}

.slider .owl-dots .owl-dot.active span {
    background-color: #fff;
}

.slider .owl-dots .owl-dot.active span,
.slider .owl-controls.clickable .owl-page:hover span {
    background-color: #fff;
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    opacity: 1;
}

.slider .col-lg-offset-2 {
    float: none;
    margin: auto;
}

/* ===================================== About CSS ================================== */
.about-us {
  background-color: #edf1f5;
  padding: 50px; }
  @media screen and (max-width: 940px) {
    .about-us {
      padding: 30px 10px; } }
  .about-us .natur-row {
    margin-top: 20px; }
  .about-us .text-part h2 {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 20px; }
  .about-us .text-part p {
    text-indent: 20px;
    margin-bottom: 15px;
    line-height: 27px;
    font-weight: 500;
    text-align: justify;
    font-size: .9rem; }
  .about-us .image-part .about-quick-box .about-qcard {
    padding: 50px 30px;
    background-color: #FFF;
    box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px; }
    .about-us .image-part .about-quick-box .about-qcard p {
      font-weight: 600;
      font-size: 1.2rem; }
    .about-us .image-part .about-quick-box .about-qcard i {
      font-size: 3rem;
      margin-bottom: 30px;
      color: #3cc88f; }
    .about-us .image-part .about-quick-box .about-qcard .red {
      color: #ff6b70; }
    .about-us .image-part .about-quick-box .about-qcard .yell {
      color: #f7a900; }
    .about-us .image-part .about-quick-box .about-qcard .blu {
      color: #21d7d9; }

/* ===================================== Events Home CSS ================================== */
.events {
  background-color: #efefef2e;
  padding: 50px; }

@media screen and (max-width: 940px) {
  .events {
    padding: 30px 10px; } }
.events .event-ro .event-box {
  text-align: center;
  margin-bottom: 20px; }

.events .event-ro .event-box img {
  margin-bottom: 20px; }

.events .event-ro .event-box h4 {
  font-size: 18px; }

.events .event-ro .event-box .raises {
  margin-bottom: 10px; }

.events .event-ro .event-box .raises span {
  color: #71b61b; }

.events .event-ro .event-box .desic {
  font-size: 13px;
  margin-bottom: 15px; }

/* ===================================== Mission Vision CSS ================================== */
.mission-vision {
  background-color: #FFF; }
  .mission-vision .mission {
    padding: 50px; }
    @media screen and (max-width: 940px) {
      .mission-vision .mission {
        padding: 30px 10px; } }
  .mission-vision .vision {
    padding: 50px; }
    @media screen and (max-width: 940px) {
      .mission-vision .vision {
        padding: 30px 10px; } }
  .mission-vision .mv-det {
    margin: auto; }

/* ===================================== Charity Number CSS ================================== */
.stats-message {
  background-image: url("../images/slider/slider-2.jpg");
  background-attachment: fixed;
  background-size: cover; }
  .stats-message .session-title h2 {
    color: #FFF; }

.stats-message .inner-lay {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px;
  color: #FFF; }

@media screen and (max-width: 940px) {
  .stats-message .inner-lay {
    padding: 30px 10px; } }
.stats-message .inner-lay .numb {
  text-align: center;
  padding: 30px; }

.stats-message .inner-lay .numb h3 {
  font-size: 42px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
  color: #FFF; }

/* ===================================== Our Blog CSS ================================== */
.our-blog {
  background-color: #FDFDFD;
  padding: 40px; }

@media screen and (max-width: 967px) {
  .our-blog {
    padding: 30px 0px; } }
.our-blog .single-blog {
  margin-bottom: 20px;
  background-color: #FFF;
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54); }

.our-blog .single-blog figure {
  margin-bottom: 5px; }

.our-blog .single-blog .blog-detail {
  padding: 15px; }

.our-blog .single-blog small {
  color: #71b61b;
  font-size: 12px; }

.our-blog .single-blog h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 10px; }

.desc-wrapper p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.our-blog .single-blog p {
  text-align: justify;
  text-indent: 20px; }

.our-blog .single-blog .link a {
  font-size: 12px;
  color: #71b61b; }

.our-blog .single-blog .link i {
  padding-top: 6px;
  margin-left: 5px;
  color: #FFFFFF; }

/* ===================================== Footer CSS ================================== */
.footer {
  padding: 50px;
  padding-bottom: 50px;
  background-color: #1e2436;
  color: #FFF; }

@media screen and (max-width: 940px) {
  .footer {
    padding: 30px 10px; } }
.footer h2 {
  font-size: 26px;
  margin-top: 10px;
  color: #FFF;
  font-size: 1.2rem;
  margin-bottom: 15px; }

.footer p {
  text-align: justify;
  text-indent: 20px;
  font-size: .9rem; }

.footer .link-list li {
  padding: 10px;
  border-bottom: 1px solid #6C6C6C;
  font-size: .9rem; }

.footer .link-list li a {
  color: #FFF; }

.footer .link-list li i {
  float: right; }

.footer .map-img {
  font-weight: 600;
  font-size: 17px;
  padding-left: 20px; }

.footer address {
  font-weight: 300; }

.footer address a {
  color: #FFF;
  font-size: 1rem;
  font-family: "mouse-300", Arial, Helvetica, sans-serif; }

.copy {
  padding: 20px;
  background: #1a202f;
  color: #FFF; }

.copy a {
  color: #FFF; }

.copy span {
  float: right; }

.copy span i {
  margin-right: 20px; }

.kf-2 {
  background-color: #FCFCFC;
  padding: 50px; }

@media screen and (max-width: 940px) {
  .kf-2 {
    padding: 30px 10px; } }
.kf-2 .single-key {
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35); }

/* ===================================== Our Team Starts Here ===================================== */

.our-team-main {
    width: 100%;
    height: auto;
    border-bottom: 5px #323233 solid;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    margin-bottom: 28px;
}

.our-team-main img {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
}

.our-team-main h3 {
    font-size: 20px;
    font-weight: 700;
}

.our-team-main p {
    margin-bottom: 0;
}

.team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 15px;
    text-align: left;
    background: #fff;
}

.team-front {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
}

.our-team-main:hover .team-front {
    bottom: -200px;
    transition: all 0.5s ease;
}

.our-team-main:hover {
    border-color: #3cc88f;
    transition: 0.5s;
}

/* ===================================== Gallery Style  ================================== */
.gallery-filter {
  width: 100%;
  text-align: center; }

.gallery-filter .btn {
  background-color: #FFF; }

.gallery {
  padding: 50px;
  padding: 30px;
  background-color: #FFF; }
  @media screen and (max-width: 940px) {
    .gallery {
      padding: 30px 10px; } }

.gallery-title {
  font-size: 36px;
  color: #00ab9f;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px; }

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #3cc88f; }

.filter-button {
  font-size: 18px;
  border: 1px solid #3cc88f;
  border-radius: 5px;
  text-align: center;
  color: #3cc88f;
  margin-bottom: 30px; }

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #3cc88f;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #3cc88f; }

.btn-default:active .filter-button:active {
  background-color: #3cc88f;
  color: white; }

.port-image {
  width: 100%; }

.gallery_product {
  margin-bottom: 30px; }

/* =============== post css ===================*/
.main-content {
  margin-top: 50px;
}

article {
  border: 1px solid #eee;
}

.entry-header {
  margin: 40px 0 23px;
}

.entry-header h1 a, .entry-header h6 a {
  text-decoration: none;
  letter-spacing: 0.5px;
}

.entry-header h1 {
  margin-top: 0;
  font-size: 24px;
}

.entry-header h6 {
}

.entry-header h6 a {
  color:#3cc88f;
  font-weight: 700;
  font-size: 10px;
}

.entry-header h1 a {
  font-weight: 600;
  color: #333333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 24px;
  line-height: 34px;
}

.entry-header h1 a:hover {
  color: #3cc88f;
}

.post-thumb img {
  width: 100%;
}

a.more-link {
  font-size: 12px;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 10px 20px;
  text-decoration: none;
  margin: 24px 0 28px;
  display: inline-block;
  color: #3cc88f;
  border: 1px solid #eee;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a.more-link:hover {
  background: #3cc88f;
  color: #fff;
  border-color: #3cc88f;
}

.post {
  background: #fff;
  margin-bottom: 50px;
}

.post-content {
  padding: 0 43px;
  overflow: hidden;
}

.post .social-share {
  border-top: 1px solid #EEE;
  padding: 15px 0 75px;
}

.social-share span a {
  color: #333;
}

.social-share-title {
  padding: 9px 0;
  font-style: italic;
  font-size: 13px;
}

.social-share span a:hover {
  color: #3cc88f;
  text-decoration: none;
}

.post-thumb {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.post-thumb:hover .post-thumb-overlay {
  opacity: 1;
}

.post-thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.post-thumb-overlay div {
  color: #fff;
  display: inline-block;
  height: 40px;
  width: 132px;
  border: 1px solid #fff;
  line-height: 40px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  top: 50%;
  letter-spacing: 1px;
  margin: 5px;
  margin-top: -18px;
  text-transform: uppercase;
}

/*single blog*/
.single-blog-box {
  position: relative;
  text-align: center;
  margin: 30px 0;
}

.single-blog-box .overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.single-blog-box .promo-text {
  font-weight: 500;
  position: absolute;
  top: 10%;
  left: 5%;
  margin: 0;
  border: 1px solid transparent;
  width: 90%;
  height: 80%;
  background: rgba(0, 0, 0, 0.0);
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.single-blog-box .promo-text p {
  color: #fff;
}

.single-blog-box .promo-text i {
  padding: 0 5px;
  font-size: 30px;
  margin-bottom: -35px;
}

.single-blog-box .promo-text h5 {
  color: #fff;
  margin-top: 0;
}

.single-blog-box:hover .promo-text {
  border: 1px solid #fff;
  width: 90%;
  height: 80%;
  background: rgba(0, 0, 0, 0.3);
}

/* =============== tag css ===================*/
.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: rgb(210, 145, 216);
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: rgb(53, 222, 228);
  color: white;
}

.tag:hover::after {
  border-left-color: rgb(53, 222, 228);
}

/* =============== Social share ===================*/
.social-share ul li {
  list-style: none;
  display: inline-block;
}

.social-share ul li a i {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 15px;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid #e5e5e5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #C2C2C2;
}

.widget .social-share ul li a i {
  height: 33px;
  width: 33px;
  line-height: 33px;
  font-size: 15px;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid #e5e5e5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #C2C2C2;
}

.social-share ul li a i:hover {
  background: #3cc88f;
  color: #FFF;
  border-color: #3cc88f;
}

/* =========== Pagination ==============*/
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 0 50px;
    border-radius: 4px;
}

.pagination > li > a, .pagination > li > span {
     position: relative;
     float: left;
     padding: 6px 12px;
     margin-left: 5px;
     line-height: 1.42857143;
     color: #333;
     text-decoration: none;
     background-color: #fff;
     border: 0;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
     font-weight: 600;
 }

.pagination li {
    display: inline;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #3cc88f;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #3cc88f;
    border-color: #3cc88f;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: green;
    border-color: green;
}

/* =============== Scroll Back to Top Widget ===================*/
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #3cc88f;
    color: #000;
}

/*========== Sidebar ===========*/

/*============ popular post =============*/

.popular-post {
    border-bottom: 1px solid #eee;
    padding: 25px 0 20px;
}

.popular-post:last-child {
    border-bottom: 0 solid #eee;
    padding-bottom: 0;
}

.widget .popular-post:first-of-type {
    padding-top: 0;
}

.widget-title {
    color: #3cc88f
}

.p-content a {
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    display: block;
    font-weight: 600;
    transition: all 0.44s;
}

.p-content a:hover {
    color: #27805b
}

.p-content span {
    color: #666666;
    font-size: 12px;
    font-style: italic;
}

.popular-img img {
    width: 100%;
}

.popular-img {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.media .popular-img {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.popular-img:hover .p-overlay {
    opacity: 1;
}

.p-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: all 0.44s;
    transition: all 0.44s;
}

/*===== feature post =======*/
#widget-feature {
    overflow: hidden;
}

.feature-content {
    position: relative;
    overflow: hidden;
}

.feature-content img {
    width: 100%;
}

.feature-content h5 {
    font-size: 16px;
    padding-bottom: 10px;
    letter-spacing: .5px;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.44s;
    transition: all 0.44s;
    color: #fff;
}

.feature-content:hover .overlay-text {
    color: #fff;
    text-decoration: none;
}

/*====== recent post ========*/
.thumb-latest-posts {
    border-bottom: 1px solid #eee;
    padding: 12px 0;
}

.thumb-latest-posts:first-of-type {
    padding-top: 0;
}

.thumb-latest-posts:last-child {
    border-bottom: 0 solid #eee;
    padding: 12px 0 0;
}

.media .popular-img {
    position: relative;
    width: auto;
    margin-bottom: 0;
}

.media .popular-img img {
    width: auto;
}

/*================== owl carousel ==============*/

#widget-feature:hover .owl-controls .owl-buttons .owl-prev {
    left: 10px;
}

#widget-feature .owl-controls .owl-buttons .owl-prev {
    left: -50px;
}

#widget-feature:hover .owl-controls .owl-buttons .owl-next {
    right: 10px;
}

#widget-feature .owl-controls .owl-buttons .owl-next {
    right: -50px;
}

#widget-feature .owl-controls .owl-buttons div {
    background: none;
    border-radius: 0;
    line-height: 30px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/*# sourceMappingURL=style.css.map */
